<app-navbar></app-navbar>

<div class="container text-center py-3">
    <h2 class="display-2">BIBLIOTECA</h2>
</div>
<!--
<div class="container">
    <div class="row"> 
        <div class="col-2 text-center py-3">
            <img src="../../../assets/images/imagen-persona-50X50.png" alt="perona-imagen" class="img-fluid">
        </div>
        <div class="col-2">
           
        </div>
        <div class="col-4 v-center">
            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary btn-lg btn-block">
                About
            </button>
        </div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/login">
                Login
            </button>
        </div>
    </div>
</div>
-->
<div class="container py-5">
    <div class="row">
        <div class="col-6 ">
            <h2>Misión/Visión</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia adipisci eaque soluta iure tempora! Earum, eos. Iure exercitationem unde repudiandae laboriosam tenetur sit, tempore incidunt quos? Laboriosam, voluptatum cumque esse ex magni numquam distinctio dolorum a repellat illum, eos dicta, nesciunt quam omnis nobis suscipit obcaecati adipisci natus? Iste, quibusdam.</p>
        </div>
        <div class="col-6 text-center border border-dark py-5">
            <img src="../../../assets/images/logotipo.png" alt="logo image" class="img-fluid">
        </div>
    </div>
</div>

<!--CAROUSEL-->


  <!-- Footer -->
  <div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>


